/* ==================================================
   WYRAJ — PALETTE RITUEL SOMBRE
65536f
================================================== */

wyraj,
.wyraj {
  --wyraj-rust: #632228;   
  --wyraj-red: #2d1119;
  --wyraj-lightred: #715454;
  --wyraj-charcoal: #29282a;

  --accent0: rgb(18, 16, 20) !important;
  --accent1: var(--wyraj-red) !important;
  --accent2: var(--wyraj-lightred) !important;
  --accent3: var(--wyraj-rust) !important;  
  --accent4: currentColor !important;
  --accent5: var(--wyraj-charcoal) !important;

}
/* ==================================================
   ÉLÉMENTS DE LA FICHE
================================================== */

wyraj m1,
.wyraj m1 {
  color: var(--accent3) !important;
}

wyraj m2,
.wyraj m2 {
  color: var(--accent2) !important;
}

wyraj t1,
wyraj tbox,
.wyraj t1,
.wyraj tbox {
  color: var(--accent1) !important;
}

wyraj u3,
wyraj u4,
.wyraj u3,
.wyraj u4 {
  text-shadow: var(--text-shadow);
}

wyraj hr1,
wyraj hr2,
wyraj hr3,
.wyraj hr1,
.wyraj hr2,
.wyraj hr3 {
  color: var(--accent4) !important;
  border-color: var(--accent4) !important;
}
